<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'GardenPlanner' + ${title == null ? '' : ' :: ' + title}">GardenPlanner</title>
</head>

<body>

<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top" style="background-color: #b4baad; ">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/images/herblogotxt.png}" alt="Garden Planner Logo" width="75" height="75">
            </a>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/list}">List</a></li>
                <li><a th:href="@{/search}">Search</a></li>
                <li><a th:href="@{/add}">Add</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>